{% extends "rex.application:/templates/one_column_layout.html" %}
{% import "rex.formbuilder:/template/formbuilder_macros.html" as formbuilder with context %}



{% block extra_head %}
  {{ super() }}
  {% if id %}
    {{ formbuilder.formbuilder_head(instrument=id) }}
  {% else %}
    {{ formbuilder.formbuilder_instruments_head() }}
  {% endif %}
  <style>
    .panels {
      top: 40px;
    }
  </style>
{% endblock %}



{% block panels %}
  <div class="panels">
    {% if id %}
      {% set data = rdoma('/~' + role + '/formbuilder{data}?_id=$id', id=id)[0].data %}
      {{ formbuilder.formbuilder(instrument=id,
                           code=data,
                           manual_edit_conditions=manual_edit_conditions or False,
                           base_url=MOUNT['rex.formbuilder']) }}
    {% else %}
      {{ formbuilder.formbuilder_instruments(
            role=role,
            edit_url=MOUNT['rex.formbuilder'] + '/edit/%s/',
            new_url=MOUNT['rex.formbuilder'] + '/create') }}
    {% endif %}
  </div>
{% endblock %}
