
{% import 'rex.forms:/macros.html' as client with context %}

{% macro roadsbuilder_preview_head() %}
    {{ client.client_head() }}
    <link rel="stylesheet" href="{{ MOUNT['rex.formbuilder'] }}/css/test.css" />
{% endmacro %}

{% macro roadsbuilder_instruments_head() %}
    <link rel="stylesheet" href="{{ MOUNT['rex.ext'] }}/jquery-ui/1.8.22/themes/black-tie/jquery-ui-1.8.22.custom.css" />
    <script type="text/javascript" src="{{ MOUNT['rex.ext'] }}/jquery/jquery-1.7.2.min.js"></script>
    <link rel="stylesheet" href="{{ MOUNT['rex.formbuilder'] }}/css/instruments.css" />
{% endmacro %}

{% macro roadsbuilder_preview(instrument, assessment) %}
    <script type="text/javascript">
        var rexFormsClient = null;
        $(document).ready(function () {
            var progressBar = $('#progress_bar');
            rexFormsClient = new $.RexFormsClient({
                mode: 'normal',
                formMeta: {{ instrument.json }},
                formData: {{ assessment.json }},
                paramValues: {{ assessment.params }},
                instrumentName: {{ instrument.id|json }},
                showNumbers: true,
                assessment: {{ assessment.id|json }},
                saveURL: {{ (MOUNT['rex.formbuilder'] + '/save_assessment')|json }},
                formArea: '#survey',
                questionArea: '#questions',
                pageTitleArea: '#page_title',
                pageIntroductionArea: '#page_introduction',
                formTitleArea: '#form_title',
                btnPrev: '#back',
                btnNext: '#next',
                events: {
                    'updateProgress': function (data) {
                        var pct = Math.floor((data.completed + 1) * 100 / data.total);
                        var cssPct = pct + '%';
                        progressBar.find('.rc-progress-bar-fill')
                                   .width(cssPct);
                        progressBar.find('.rc-progress-bar-pct').html( (data.completed + 1) + ' / ' + data.total );
                    },
                    'completed': function () {
                        window.close();
                    },
                    'end': function () {
                        $('#next').find('.ra-button-title')
                                  .html('Finish');
                    },
                    'notEnd': function () {
                        $('#next').find('.ra-button-title')
                                  .html('Next');
                    }
                }
            });
        });
    </script>

    <div id="instrument_test">
        <div id="top_buttons">
            <div id="back" class="survey_button">&larr; <span class="ra-button-title">Back</span></div>
            <div id="next" class="survey_button"><span class="ra-button-title">Next</span> &rarr;</div>
        </div>
        <div id="survey">
            <div id="form_title"></div>
            <div id="progress_bar" class="survey-progress-bar-fill-wrap">
                <div class="rc-progress-bar-fill" style="width: 0%;"></div>
                <span class="rc-progress-bar-pct"></span>
            </div>
            <div id="page_title"></div>
            <div id="page_introduction"></div>
            <div id="questions">
            </div>
        </div>
    </div>
    <!--
    <div id="survey">
        <div id="back" class="survey_button footer_button">&larr; <span class="ra-button-title">Back</span></div>
        <div id="next" class="survey_button footer_button"><span class="ra-button-title">Next</span> &rarr;</div>
        <div id="form_title"></div>
        <div id="progress_bar" class="survey-progress-bar-fill-wrap">
            <div class="rc-progress-bar-fill" style="width: 0%;"></div>
            <span class="rc-progress-bar-pct"></span>
        </div>
        <div id="page_title"></div>
        <div id="page_introduction"></div>
        <div id="questions">
        </div>
    </div>
    -->
{% endmacro %}

{% macro roadsbuilder_head(instrument) %}
        <meta name="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        {# <title>{%- if instrument %} {{ instrument }} - {%- endif %}ROADS Builder</title> #}
        <link rel="stylesheet" href="{{ MOUNT['rex.ext'] }}/jquery-ui/1.8.22/themes/black-tie/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{ MOUNT['rex.ext'] }}/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ MOUNT['rex.ext'] }}/jquery-ui/1.8.22/jquery-ui-1.8.22.custom.min.js"></script>
        <script type="text/javascript" src="{{ MOUNT['rex.ext'] }}/json/jquery.json-2.3.min.js"></script>
        <script type="text/javascript" src="{{ MOUNT['rex.common'] }}/js/rexl/0.5.1/rexl.js"></script>
        <link rel="stylesheet" href="{{ MOUNT['rex.formbuilder'] }}/css/builder.css" />
        <link rel="stylesheet" href="{{ MOUNT['rex.formbuilder'] }}/css/conditor.css" />
        <script type="text/javascript" src="{{ MOUNT['rex.formbuilder'] }}/js/conditor.js"></script>
        <script type="text/javascript" src="{{ MOUNT['rex.formbuilder'] }}/js/builder-helpers.js"></script>
        <script type="text/javascript" src="{{ MOUNT['rex.formbuilder'] }}/js/builder-dialogs.js"></script>
        <script type="text/javascript" src="{{ MOUNT['rex.formbuilder'] }}/js/builder.js" data-prefix="{{ MOUNT['rex.formbuilder'] }}" data-forms-prefix="{{ MOUNT['rex.formbuilder'] }}"></script>
{% endmacro %}

{% macro roadsbuilder(instrument, code, manual_edit_conditions, ext_param_types, url_save_form, url_start_test) %}
        <script type="text/javascript">
            $(document).ready(function () {
                $.RexFormBuilder.init({
                    manualEditConditions: {% if manual_edit_conditions %}true{% else %}false{% endif %},
                    extParamTypes: {% if ext_param_types %}{{ ext_param_types }}{% else %}null{% endif %},
                    instrument: {{ instrument|json }},
                    code: {{ code|json }},
                    {% if url_start_test %}
                    urlStartTest: {{ url_start_test|json }},
                    {% endif %}
                    urlSaveForm: {% if url_save_form %}{{ url_save_form|json }}{% else %}{{ MOUNT['rex.formbuilder']|json }} + '/save'{% endif %}
                });
            });
        </script>
        <div class="rb_left_part">
            <div id="rb_instrument_name">{{ instrument|e }}</div>
            <div id="rb_instrument_title_wrap">
                <div id="rb_instrument_title_view">
                    <span id="rb_instrument_title"></span>
                    <button id="rb_instrument_title_button" class="rb_small_button">Change Title</button>
                </div>
                <input type="text" id="rb_instrument_title_input" style="display: none;" />
            </div>
            <div class="rb_tools_button_wrapper">
                <button class="rb_tools_button" id="rb_save_instrument">Save</button>
                <button class="rb_tools_button" id="rb_test">Test</button>
                <button class="rb_tools_button" id="rb_show_json" onclick="$.RexFormBuilder.showJSONDialog.open()">JSON</button>
            </div>
            <div class="rb_params_wrapper">
                <button id="rb_params_add" class="rb_small_button rb_right_aligned">Add Parameter</button>
                <span class="rb_small_title">Input parameters:</span>
                <div id="rb_params_list">
                </div>
            </div>
            <div class="rb_pages_list_wrapper">
                <div class="rb_pages_list_header">
                    <button class="rb_small_button rb_right_aligned" id="rb_make_group" disabled="1">Make Group From Selection</button>
                    <button class="rb_small_button rb_right_aligned" id="rb_add_new_page">Add New Page</button>
                    <span class="rb_small_title">Pages:</span>
                </div>
                <div class="rb_pages_scrollable">
                    <ul class="rb-page-list" id="rb_page_list">
                    </ul>
                </div>
                <div class="rb-pages-hint">
                    Hint: hold down SHIFT key to select multiple pages 
                </div>
            </div>
        </div>
        <div class="rb_main_part">
            <div id="rb_page_editor" style="display: none;">
                <div class="rb_main_part_header">
                    <div class="rb_page_title_wrap">
                        <span id="rb_page_title">Page Title</span> <button id="rb_page_title_change">Change</button>
                    </div>
                    <input type="text" id="rb_page_title_input" style="display: none;" />
                    <div style="margin: 10px 0px 10px 0px;">
                        <span id="rb_page_skip_if"></span> <button id="rb_page_skip_if_change" class="rb_small_button">Change</button>
                    </div>
                </div>
                <div class="rb_question_list_wrapper">
                    <div class="rb_question_list_header">
                        <span class="rb_small_title">Questions:</span>
                        <button class="rb-question-add">
                            Add Question
                        </button>
                    </div>
                    <ul id="rb_question_list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="rb_stuff">

            <form id="rb_form_test" target="_blank" method="POST" action="{{ url_start_test|e }}">
                <input type="hidden" name="instrument" value="{{ instrument|e }}" />
                <input type="hidden" name="params" value="" />
                <input type="hidden" name="json" value="" />
            </form>

            <div class="rb_progress_dialog">
                <p class="rb_progress_text">Constructing in progress</p>
                <p><img src="{{ MOUNT['rex.forms'] }}/img/ajax-loader.gif" /></p>
            </div>

			<div id="tpl_drag_helper" class="rb-drag-helper">
				<div>
				</div>
			</div>

            <li id="tpl_question" class="rb-question">
                <div>
                    <div class="rb_question_actions">
                        <a href="javascript:void(0);" class="rb-question-duplicate">Duplicate</a>
                        <a href="javascript:void(0);" class="rb-question-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                    </div>
                    <div class="q_caption">
                        <div class="rb-question-title">
                            Question Title
                        </div>
                        <div class="rb-question-name">
                            question_name
                        </div>
                        <div class="rb-question-descr">
                            question_descr
                        </div>
                    </div>
                    <div class="q_editor">
                    </div>
                </div>
            </li>

            <li id="tpl_question_editor" class="rb-question-editor">
                <div>
                    <div class="rb-question-editor-actions">
                        <a href="javascript:void(0);" class="rb-question-editor-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                    </div>
                    <table class="rb_question_table" cellspacing="0">
                        <tr>
                            <td class="rb_question_table_left" valign="top">
                                <div class="rb_question_table_left_inner">
                                    <h3>Title</h3>
                                    <textarea type="text" name="question-title" class="rb_question_input" /></textarea>
                                    <h3>Help</h3>
                                    <textarea type="text" name="question-help" class="rb_question_input" /></textarea>
                                    <table class="question-selects">
                                        <h3 class="question-type-header rb_with_top_margin">Question type</h3>
                                        <select name="question-type"></select>
                                        <label class="rb-question-dropdown"><input type="checkbox" name="drop_down" />Drop-Down Style</label>
                                    </table>
                                    <div class="rb-question-answers" style="display: none;">
                                        <div class="rb-question-answers-header">
                                            <h3>Choice</h3>
                                            <div class="rb_choices_item_right">
                                                <h3>Identifier</h3>
                                            </div>
                                        </div>
                                        <div class="rb-question-answers-list-wrap">
                                            <span class="rb-question-answers-list-hint">Please add the first choice <!-- or select pre-defined choices: --></span>
                                            <ul class="rb-question-answers-list">
                                            </ul>
                                        </div>
                                        <div class="rb-predefined-choices-div">
                                            <!-- <select name="predefined-choice-list">
                                                <option value=""> - Select pre-defined choices - </option>
                                            </select> -->
                                        </div>
                                        <div>
                                            <button class="rb-question-answers-add">Add choice</button>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="rb_question_table_right" valign="top">
                                <div class="rb_question_table_right_div">
                                    <h3 class="unique-name">Unique name</h3>
                                    <input type="text" name="question-name" class="rb_question_input_short slave" maxlength="40" />
                                    <div class="rb-question-checkboxes">
                                        <div class="rb-question-checkbox">
                                            <input type="checkbox" name="question-required" /> Required
                                        </div>
                                        <div class="rb-question-checkbox">
                                            <input type="checkbox" name="question-annotation" /> Has annotation
                                        </div>
                                        <div class="rb-question-checkbox">
                                            <input type="checkbox" name="question-explanation" /> Has explanation
                                        </div>
                                        <div class="rb-question-checkbox">
                                            <input type="checkbox" name="question-slave" /> Slave
                                        </div>
                                    </div>
                                    <h3>Constraints</h3>
                                    <a class="rb-question-constraint" href="javascript:void(0);">No constraints</a>
                                    <button class="rb-question-constraint-change">Change</button>
                                    <div class="rb-disable-logic">
                                        <h3>Disable conditions</h3>
                                        <a class="rb-question-disable-if" href="javascript:void(0);">Never disabled</a> 
                                        <button class="rb-question-disable-if-change">Change</button>
                                    </div>
                                    <div class="rb-hide-logic">
                                        <h3>Hide conditions</h3>
                                        <a class="rb-question-hide-if" href="javascript:void(0);">Always visible</a> 
                                        <button class="rb-question-hide-if-change">Change</button>
                                    </div>
                                    <div class="rb-custom-titles-wrap">
                                        <h3>Custom Titles</h3>
                                        <div class="rb-custom-titles">
                                        </div>
                                        <button class="rb-custom-title-add">Add Custom Title</button>
                                    </div>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="rb_question_table_long_row rb-subquestions-wrap" style="display: none;">
                                <div class="rb_subquestions_wrap">
                                    <div class="rb_subquestion_actions">
                                        <button class="rb-subquestion-add rb_small_button">Add Question to Group</button>
                                    </div>
                                    <h3>Repeating Group of Questions:</h3>
                                    <ul class="rb-subquestions">
                                    </ul>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="2" class="rb_question_table_long_row rb_question_table_bottom">
                                <!-- <button class="btn-save" onclick="$.RexFormBuilder.stopEvent(arguments[0]);$.RexFormBuilder.saveQuestion(this);">Close</button> -->
                                <button class="rb-question-cancel">Cancel</button>
                            </td>
                        </tr>
                    </table>
                </div>
            </li>

            <li id="tpl_variant" class="rb-variant">
                <div>
                    <div class="restrict-drag">
                        <input type="text" name="answer-title" class="rb_choice_input_title" />
                    </div>
                    <div class="rb_choices_item_right">
                        <div class="rb_choices_item_actions">
                            <a href="javascript:void(0);" class="rb-variant-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                        </div>
                        <div class="restrict-drag">
                            <input type="text" name="answer-code" class="rb_choice_input rb_with_margin slave" maxlength="20" />
                        </div>
                        <div class="btn-remove-container">
                            <a href="javascript:void(0)" onclick="removeChoice(this);" class="remove-choice"><span class="btn-remove"></span></a>
                        </div>
                    </div>
                </div>
            </li>

            <div id="tpl_parameter" class="rb_parameter">
                <span class="rb-param-name"></span> <span class="rb-param-type-wrap">(<span class="rb-param-type"></span>)</span>
                <div class="rb_param_actions">
                    <a href="javascript:void(0)" class="rb-param-edit">edit</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="rb-param-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                </div>
            </div>

            <div id="tpl_custom_title" class="rb-custom-title">
                <div class="rb-custom-title-for">Add Repeating Group Button</div>
                <div class="rb-custom-title-text">This is a title for group button</div>
                <div class="rb-custom-title-actions">
                    <a href="javascript:void(0);" class="rb-custom-title-edit">edit</a>
                    <a href="javascript:void(0);" class="rb-custom-title-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                </div>
            </div>

            <li id="tpl_page" class="rb_page">
                <div>
                    <div>
                        <div class="rb_page_actions">
                            <a href="javascript:void(0);" class="rb-page-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                        </div>
                        <div class="rb-page-title"></div>
                        <div class="rb-page-description"></div>
                    </div>
                    <div style="overflow: hidden; position: relative;">
                        <div class="step_list">
                        </div>
                        <button style="float: right;" class="rb_small_button rb-page-add-next">Add next page</button>
                    </div>
                </div>
            </li>

            <li id="tpl_page_group" class="rb_page_group">
                <div class="rb_page_group_header">
                    <a href="javascript:void(0);" class="rb-group-title"></a>
                    <a class="rb-hidable-link rb-group-title-change" href="javascript:void(0);">change</a>
                    <div>
                        <a class="rb-group-skip-if" href="javascript:void(0);"></a>
                        <a class="rb-hidable-link rb-group-skip-if-change" href="javascript:void(0);">change</a>
                    </div>
                    <div class="rb_page_group_actions">
                        <a href="javascript:void(0);" class="rb-group-remove"><img src="{{ MOUNT['rex.forms'] }}/img/close_small.png"></a>
                    </div>
                </div>
                <ul class="rb-page-list">
                </ul>
            </li>

        </div>
		<div id="rb_helper_home">
			
		</div>
{% endmacro -%}

{% macro roadsbuilder_instruments(role, edit_url = None, new_url = None, clone_url = None) %}
{% if not edit_url %}
    {% set edit_url = MOUNT['rex.formbuilder'] + '/builder' %}
{% endif %}
{% if not clone_url %}
    {% set clone_url = MOUNT['rex.formbuilder'] + '/clone' %}
{% endif %}
{% if not new_url %}
    {% set new_url = MOUNT['rex.formbuilder'] + '/create' %}
{% endif %}
<div class="rb-box-absolute">
    <ul id="rb_instrument_tabs" class="rb-instrument-tabs">
        <li class="rb-instrument-tab">
            <a href="#rb_editable_forms" data-toggle="tab">Edited Forms</a>
        </li>
        <li class="rb-instrument-tab">
            <a href="#rb_published_forms" data-toggle="tab">Published Forms</a>
        </li>
    </ul>
    <form id="rb_new_instrument" class="rb-form" action="{{ new_url|e }}">
        <button>Create New Form</button>
    </form>
    <div class="rb-instrument-tab-bodies">
        <div id="rb_editable_forms" class="rb-instrument-tab-body">
            <h3>Editable Forms</h3>
            <ul class="rb-instrument-list">
            {% for form in rdoma('/~' + role + '/formbuilder{code, title, last_updated}') %}
                <li class="rb-group-item">
                    <div class="rb-instrument-name">{{ form.code|e }}</div>
                    {% if form.title %}
                    <div class="rb-instrument-title">{{ form.title|e }}</div>
                    {% else %}
                    <div class="rb-instrument-title untitled">Untitled Instrument</div>
                    {% endif %}
                    <div class="rb-instrument-actions">
                        <a href="{{ edit_url|e }}?instrument_id={{ form.code|urlencode }}">Edit</a>
                    </div>
                    <div class="rb-instrument-modified">{{ form.last_updated.strftime('%Y-%m-%d %H:%M:%S') }}</div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div id="rb_published_forms" class="rb-instrument-tab-body">
            <h3>Published Forms</h3>
            <ul class="rb-instrument-list">
            {% for form in rdoma('/~' + role + '/measure_type{code, title}') %}
                <li class="rb-group-item">
                    <div class="rb-instrument-name">{{ form.code|e }}</div>
                    <div class="rb-instrument-title">{{ form.title|e }}</div>
                    <div class="rb-instrument-actions">
                        <a href="{{ new_url|e }}?base_measure_type={{ form.code|urlencode }}">Clone</a>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
    </div>
</div>
<script type="text/javascript">
    $(document).ready(function () {
        var tabs = $('.rb-instrument-tab');
        var first = null;
        tabs.each(function (_, tab) {
            tab = $(tab);
            var a = tab.find('a[data-toggle=tab]');
            a.click(function () {
                var target = $(a.attr('href'));
                tab.addClass('active');
                target.addClass('active');
                tabs.each(function (_, item) {
                    item = $(item);
                    if (item[0] != tab[0]) {
                        item.removeClass('active');
                        var tabBody = $(item.find('a[data-toggle=tab]').attr('href'));
                        tabBody.removeClass('active');
                    }
                });
            });
            if (!first)
                first = a;
        });
        if (first)
            first.click();
    });
</script>
{% endmacro %}
