@import (less) "~bootstrap/less/bootstrap";
@import (less) "~react-grid/themes/bootstrap";
@import (less) "~react-autocomplete/themes/bootstrap";
@import (less) "./layout";
@import (less) "./grid";
@import (less) "./table";
@import (less) "./variables";

@border-radius-base:        3px;
@border-radius-large:       3px;
@border-radius-small:       3px;

@standardShadow: none;

@padding: 0.5em;
@paddingS: 0.25em;
@paddingL: 1em;

@colorBackground: #ffffff;
@colorShadow: #bcbcbc;
@colorHoverHighlight: #eaeaea;
@colorSelectedHighlight: #ffef8f;
@colorLink: #1546CF;
@colorGrey: #777777;

@border: 1px solid #cccccc;

@headerHeight: 60px;

html, body, #__main__ {
  height: 100%;
}

/**
 * <Select />
 */
.rw-Select {
  width: 100%;
}

/**
 * <TextInput />
 */
.rw-TextInput {
  .form-control;
  .input-sm;
  width: 100%;
  height: 22px;
  padding: 4px 6px;
}

.rw-TextInput--verticalResize {
  resize: vertical;
}

.rw-TextInput--horizontalResize {
  resize: horizontal;
}

.rw-TextInput--noResize {
  resize: none;
}

/**
 * <List />
 */
.rw-List {
  padding: 0;
  list-style-type: none;
}
.rw-List__item {
  padding: @paddingS @padding;
  list-style-type: none;
  cursor: pointer;
  &:hover {
    background-color: @colorHoverHighlight;
  }
}
.rw-List__item--selected {
  background-color: @colorSelectedHighlight;
}

/**
 * <LoadingIndicator />
 */
.rw-LoadingIndicator {
  width: 100%;
  text-align: center;
}

/**
 * <Preloader />
 */
.rw-Preloader {
  width: 100%;
  height: 100%;
  color: #aaa;
  font-weight: bold;
  text-align: center;
  padding: @padding-base-vertical @padding-base-horizontal;
}
.rw-Preloader__caption {
  padding: @padding-base-vertical @padding-base-horizontal;
}

.rw-Button {
  .btn();
}

.rw-Button--default {
  .btn-default();
}

.rw-Button--link {
  .btn-link();
}

.rw-Button--success {
  .btn-success();
}

/**
 * <CheckboxGroup />
 */
.rw-CheckboxGroup--inline {
  & > .rw-CheckboxGroup__checkbox {
    display: inline-block;
  }
}
.rw-CheckboxGroup__checkbox {
  padding: @padding-base-vertical @padding-base-horizontal;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.rw-CheckboxGroup__label {
  cursor: pointer;
  font-weight: normal;
}
.rw-CheckboxGroup__checkbox input {
  margin: 0 @padding-base-horizontal;
}

/**
 * <Shim />
 */
.rw-Shim {
  background: @modal-backdrop-bg;
  opacity: @modal-backdrop-opacity;
}

/**
 * <Modal />
 */
.rw-Modal {
  .modal-dialog;
}
.rw-Modal__content {
  .modal-content;
}
.rw-Modal__header {
  .modal-header;
}
.rw-Modal__title {
  .modal-title;
}
.rw-Modal__body {
  .modal-body;
}
