<!doctype html>
<html>
  <head>
    <title>{{title}}</title>
    <link rel="stylesheet" href="{{ MOUNT['rex.forms_demo'] }}/bundle/bundle.css">
  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>{{title}}</h1>
      </header>
      {% block body %}
      <div id="form"></div>
      <div id="assessment"></div>
      {% endblock %}
    </div>
    <script src="{{ MOUNT['rex.forms_demo'] }}/bundle/bundle.js"></script>
    <script>
      {% block script %}{% endblock %}
    </script>
  </body>
</html>

