{% extends "rex.forms_demo:/templates/base.html" %}

{% block body %}
<script type="text/javascript">
    RexFormsDemo.renderDemo(
        {
            demo: {{ demo|json }},
            demos: {{ demos|json }},
            recons: {{ recons|json }},
            mountPoint: {{ MOUNT['rex.forms_demo']|json }},
            apiUrls: {
                resourcePrefix: '{{ SETTINGS.forms_local_resource_prefix|url }}',
                lookup: '{{ MOUNT['rex.forms'] }}/lookup',
                calculation: '{{ MOUNT['rex.forms_demo'] }}/demo/{{ demo.id }}/calculate'
            },
            i18nUrl: {{ MOUNT['rex.i18n']|json }},
            initialLocale: '{{ CURRENT_LOCALE }}',
            availableLocales: {{ SUPPORTED_LOCALES|list|json }}
        },
        document.getElementById('main')
    );
</script>
{% endblock %}

