.*.sw?
*.orig
*.pyc
*.pyo
*.egg-info
.eggs
build
dist
node_modules
js/coverage
*.sync-conflict-*
__pycache__
.pytest_cache
pip-wheel-metadata
**/www/bundle
notebooks/**/.ipynb_checkpoints
notebooks/**/*.html
notebooks/**/*.pdf
.python-version
/.devmode
/.kubeconfig
/.st/
/*.yaml
/Procfile
/.env
/bin/
/data/
/include/
/lib/
/lib64
/local/
/man/
/pip-selfcheck.json
/pyvenv.cfg
/run/
/share/
/socket
/.Python
/.cache/
/.node-gyp/
/.npm/
/.config/
/Library/
