-r dev_requirements.txt
-e ./src/htsql
-e ./src/rex.setup
-e ./src/rex.core
-e ./src/rex.ctl
-e ./src/rex.web
-e ./src/rex.sendmail
-e ./src/rex.expression
-e ./src/rex.db
-e ./src/rex.port
-e ./src/rex.deploy
-e ./src/rex.attach
-e ./src/rex.urlmap
-e ./src/rex.file
-e ./src/rex.menu
-e ./src/rex.widget
-e ./src/rex.action
-e ./src/rex.instrument
-e ./src/rex.i18n
-e ./src/rex.forms
-e ./src/rex.logging
-e ./src/rex.restful
-e ./src/rex.sms
-e ./src/rex.widget_chrome
-e ./src/rex.dbgui
-e ./src/rex.platform
-e ./src/rex.form_previewer
-e ./src/rex.formbuilder
-e ./src/rex.mobile
-e ./src/rex.mart
-e ./src/rex.query
-e ./src/rex.mart_actions
-e ./src/rex.acquire_actions
-e ./src/rex.assessment_import
-e ./src/rex.asynctask
-e ./src/rex.job
-e ./src/rex.tabular_import
-e ./src/rex.about
-e ./src/rex.baseline
