<!DOCTYPE html>
<html lang="{{ CURRENT_LOCALE }}" dir="{{ CURRENT_LOCALE_DIRECTION }}">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %}Form Previewer{% endblock %}</title>

    <script>
    {% if bundle.root %}
    var __PUBLIC_PATH__ = "{{ bundle.root|url }}/";
    {% endif %}
    </script>

    <script type="text/javascript" src="{{ bundle.js|url }}"></script>
    {% if bundle.css %}
    <link rel="stylesheet" href="{{ bundle.css|url }}" media="screen">
    {% endif %}
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>

