@import "~normalize.css/normalize.css";

html.rex-widget-app, body.rex-widget-app {
  overflow: hidden;
  position: fixed;
  width: 100%;
  height: 100%;
}

* {
  font-family: -apple-system, "Helvetica Neue", "Lucida Grande";
}
