@import (reference) "~bootstrap/less/variables";
@import (reference) "~bootstrap/less/mixins";
@import (reference) "~bootstrap/less/buttons";
@import (reference) "~bootstrap/less/wells";
@import (reference) "~bootstrap/less/forms";
@import (reference) "~bootstrap/less/tables";

@questionIndent: 20px;

@colorTextError: #b94a48;
@colorTextMinor: #999999;
@colorTextDisabled: #cccccc;

@colorBg: #ffffff;
@colorBgHover: #fafafa;

@padding: 0.5em;
@paddingSmall: 0.25em;
@paddingLarge: 1em;


/**
 * Form styling
 */

.rex-forms-Title {
  padding-bottom: 1em;
}

.rex-forms-Form__toolbar {
  margin-top: @padding * 2;
  margin-bottom: @padding;
  text-align: center;
}

.rex-forms-Form__complete {
  .btn();
  .btn-success();
}

.rex-forms-Form__info {
  padding: @padding;
  color: @colorTextDisabled;
}

.rex-forms-PageNavigation {
  margin-top: @padding * 2;
  margin-bottom: @padding;
}

.rex-forms-PageNavigation__next {
  text-align: right;

  [dir='rtl'] & {
    text-align: left;
  }
}

.rex-forms-PageNavigation__info {
  text-align: center;
}

.rex-forms-Pagination {
  margin: 0;

  li a.disabled {
    color: @colorTextDisabled;
    cursor: default;
    &:hover {
      background-color: white;
    }
  }
}

.rex-forms-NavigationButton {
  .btn();
  .btn-default();
}


/**
 * Elements styling
 */

.rex-forms-Element {
  padding: @paddingLarge;
  border-top: 1px solid @colorBgHover;
}

.rex-forms-Element:last-child {
  border-bottom: 1px solid @colorBgHover;
}

.rex-forms-Divider:last-child {
  border-bottom: none;
}

.rex-forms-Divider + .rex-forms-Element,
.rex-forms-Divider + .rex-forms-EditableQuestionWrapper .rex-forms-Element,
.rex-forms-Divider {
  border-top: none;
}

.rex-forms-Divider {
  padding: 0;
  padding-bottom: 1em;
  hr {
    margin: 0;
    border-top: 1px solid #b1b1b1;
  }
}

.rex-forms-Text {
  table {
    /* Unfortunately can't use the following because jscreole doesn't create
       tables with appropriate thead/tbody/tfoot nodes. So, we'll cut&paste
       from bootstrap/less/tables.less
    .table();
    .table-bordered();
    */

    margin-bottom: @line-height-computed;
    border: 1px solid @table-border-color;

    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border: 1px solid @table-border-color;
      }

      > th {
        vertical-align: bottom;
        border-bottom: 2px solid @table-border-color;
        border-bottom-width: 2px;

      }
    }

    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
}


/**
 * Widgets styling
 */

.rex-forms-required-mixin {
  &::before {
    content: '* ';
    color: red;
  }
}

.rex-forms-Widget {
}

.rex-forms-Widget--error {
  .rex-forms-Widget__label,
  .rex-forms-Widget__help,
  .rex-forms-Widget__input,
  .rex-forms-Widget__error {
    color: @colorTextError;
  }
}

.rex-forms-Widget--required .rex-forms-Widget__label {
  .rex-forms-required-mixin();
}

.rex-forms-Widget__label {
  margin-bottom: @padding / 2;

  .rex-forms-Question__disabled & {
    cursor: not-allowed;
    opacity: 0.7;
  }
}

.rex-forms-Widget__help {
  padding: @paddingSmall 0;
  color: @colorTextMinor;
}

.rex-forms-Widget__error {
  padding: @paddingSmall 0;
}

.rex-forms-Widget__input {
  .width-small {
      width: 25%;
  }
  .width-medium {
      width: 50%;
  }
  .width-large {
      width: 100%;
  }

  .height-small {
      height: 7em;
  }
  .height-medium {
      height: 12em;
  }
  .height-large {
      height: 25em;
  }

  select {
      width: auto;
      max-width: 50%;
  }
}

.rex-forms-ItemLabel {
  display: inline-block;
  vertical-align: top;
}

.rex-forms-ItemLabel__label,
.rex-forms-ItemLabel__help {
  display: block;
  font-weight: normal;
  cursor: pointer;
}

.rex-forms-ItemLabel__help {
  font-size: 90%;
  color: @colorTextMinor;
}

.rex-forms-Widget-explanation,
.rex-forms-Widget-annotation {
    margin-left: @questionIndent;

    [dir='rtl'] & {
        margin-right: @questionIndent;
        margin-left: 0;
    }
}

.rex-forms-radioGroup__option,
.rex-forms-checkGroup__option {
  margin-left: @questionIndent;
  margin-bottom: 5px;

  [dir='rtl'] & {
    margin-right: @questionIndent;
    margin-left: 0;
  }

  input {
    margin-right: 10px;

    [dir='rtl'] & {
      margin-left: 10px;
      margin-right: 0;
    }

    cursor: pointer;
  }

  input {
    display: inline-block;
    vertical-align: top;
  }
}

.rex-forms-dropDown {
  .form-control();
  margin-left: @questionIndent;

  [dir='rtl'] & {
    margin-right: @questionIndent;
    margin-left: 0;
  }
}


/**
 * recordList
 */

.rex-forms-recordList__remove {
  .btn();
  .btn-default();
  .btn-xs();
  margin: @padding;
  float: right;

  [dir='rtl'] & {
    float: left;
  }
}
.rex-forms-recordList__add {
  .btn();
  .btn-default();
  .btn-sm ();
  margin-top: @padding;
}


/**
 * matrix
 */

.rex-forms-matrix {
  display: table;
  width: 100%;
}

.rex-forms-matrixRow,
.rex-forms-matrixHeaderRow {
  display: table-row;

  .rex-forms-Question {
    border: none;
    margin: 0;
  }
}
.rex-forms-matrixHeaderRow__label {
  padding: @padding;

  .rex-forms-ItemLabel__label {
    font-weight: bold;
  }
}

.rex-forms-matrixRow__cell,
.rex-forms-matrixHeaderRow__cell {
  display: table-cell;
  vertical-align: top;
}

.rex-forms-matrixRow__label {
  padding: @padding;

  .rex-forms-ItemLabel__label {
    font-weight: bold;

    .rex-forms-matrixRow__required & {
      .rex-forms-required-mixin();
    }
  }
}

.rex-forms-matrixHeaderRow__cell--required .rex-forms-ItemLabel__label {
  .rex-forms-required-mixin();
}

.rex-forms-value {
  padding: 10px 0;
}

.rex-forms-value__novalue {
  font-size: 90%;
  color: #aaa;
}

.rex-forms-value__choice {
  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: ''
  }
}


/**
 * FormOverview
 */

.rex-forms-FormOverview {

}

.rex-forms-FormOverview__note {
  .well();
  margin-bottom: @paddingLarge;
}

.rex-forms-EditableQuestionWrapper {
  position: relative;
}

.rex-forms-EditableQuestionWrapper:hover {
  background-color: @colorBgHover;
}

.rex-forms-EditableQuestionWrapper__button {
  .btn();
  .btn-default();
  .btn-xs();
}

.rex-forms-EditableQuestionWrapper__toolbar {
  position: absolute;
  top: 10px;
  right: 10px;

  [dir='rtl'] & {
    left: 10px;
    right: initial;
  }

  button {
    margin-left: 5px;

    [dir='rtl'] & {
      margin-right: 5px;
      margin-left: 0;
    }
  }
}


/**
 * Print styles
 */
@media print {
  .rex-forms-Form__toolbar,
  .rex-forms-EditableQuestionWrapper__toolbar {
    display: none;
  }
}


/**
 * Reconciler styles
 */

.rex-forms-Reconciler {
  .container-fluid();
}

.rex-forms-ReconcilerComplete {
  .btn();
  .btn-primary();
}


.rex-forms-ReconcilerHeader {
  .row();
}

.rex-forms-ReconcilerHeaderColumn {
  p {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .num-choices-2 & { .make-sm-column(4); }
  .num-choices-3 & { .make-sm-column(3); }
  .num-choices-4 & { .make-sm-column(2); }
  .num-choices-5 & { .make-sm-column(2); }
}

.rex-forms-ReconcilerSection {
  margin-top: 1em;
  background-color: #fafafa;
  border-radius: 3px;

  & .rex-forms-ReconcilerSection {
    background-color: #f2f2f2;

    .rex-forms-Discrepancy__title {
      padding-left: 10px;
    }

    & .rex-forms-ReconcilerSection {
      background-color: #eaeaea;

      .rex-forms-Discrepancy__title {
        padding-left: 20px;
      }
    }
  }
}

.rex-forms-Discrepancy,
.rex-forms-RecordListDiscrepancy,
.rex-forms-RecordListRecordDiscrepancy,
.rex-forms-MatrixDiscrepancy,
.rex-forms-MatrixRowDiscrepancy {
  .row();
}
.rex-forms-Discrepancy__inner,
.rex-forms-RecordListDiscrepancy__inner,
.rex-forms-RecordListRecordDiscrepancy__inner,
.rex-forms-MatrixDiscrepancy__inner,
.rex-forms-MatrixRowDiscrepancy__inner {
  .container-fluid();
}

.rex-forms-Discrepancy__title {
  .row();

  margin-bottom: 0.5em;
  padding-top: 3px;
  padding-left: 3px;

  p {
    font-weight: bold;
    margin-bottom: 0;
  }

  &.rex-forms-Discrepancy__required {
    p {
      .rex-forms-required-mixin();
    }
  }
}

.rex-forms-DiscrepancyValues {
  .row();
}
.rex-forms-DiscrepancyValues__choice {
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: #DDF0FF;
  }

  &.rex-forms-DiscrepancyValues__choice--active {
    background-color: #B8DAF6;
  }

  &.rex-forms-DiscrepancyValues__choice--novalue {
    font-size: 90%;
    color: #aaa;
  }

  p {
    min-height: 2em;
    line-height: 2em;
    margin-bottom: 0;
  }

  &.num-choices-2 { .make-sm-column(4); }
  &.num-choices-3 { .make-sm-column(3); }
  &.num-choices-4 { .make-sm-column(2); }
  &.num-choices-5 { .make-sm-column(2); }
}
.rex-forms-DiscrepancyValues__input {
  &.num-choices-2 { .make-sm-column(4); }
  &.num-choices-3 { .make-sm-column(3); }
  &.num-choices-4 { .make-sm-column(4); }
  &.num-choices-5 { .make-sm-column(2); }
}

.rex-forms-ReconcilerControls {
  text-align: center;
  margin-top: 2em;
}

