@import (reference) "~bootstrap/less/variables";
@import (reference) "~bootstrap/less/mixins";
@import (reference) "~bootstrap/less/buttons";
@import (reference) "~bootstrap/less/wells";
@import (reference) "~bootstrap/less/forms";
@import (reference) "~bootstrap/less/tables";
@import (reference) "~bootstrap/less/progress-bars";
@import (reference) "~bootstrap/less/glyphicons";
@import (reference) "~bootstrap/less/button-groups";

@questionIndent: 20px;

@colorTextError: #b94a48;
@colorTextMinor: #999999;
@colorTextDisabled: #cccccc;

@colorBg: #ffffff;
@colorBgHover: #fafafa;

@padding: 0.5em;
@paddingSmall: 0.25em;
@paddingLarge: 1em;


/**
 * Form styling
 */

.rex-forms-Title {
  padding-bottom: 2em;

  .rex-forms-Title__subtitle {
    margin: 0;
    padding-left: 30px;
    color: grey;
    font-size: 26px;
    font-weight: normal;
    font-style: italic;

    [dir='rtl'] & {
      padding-right: 30px;
      padding-left: 0;
    }
  }
}

.rex-forms-Form__toolbar {
  margin-top: @padding * 2;
  margin-bottom: @padding;
  text-align: center;
}

.rex-forms-Form__complete {
  .btn();
  .btn-success();
}
.rex-forms-Form__calculate {
  .btn();
  .btn-default();
}

.rex-forms-Form__info {
  padding: @padding;
  color: @colorTextDisabled;
}

.rex-forms-PageNavigation {
  margin-top: @padding * 2;
  margin-bottom: @padding;
}

.rex-forms-PageNavigation__next {
  text-align: right;

  .rex-forms-NavigationButton {
    vertical-align: top;
  }

  [dir='rtl'] & {
    text-align: left;
  }
}

.rex-forms-PageNavigation__info {
  text-align: center;
}

.rex-forms-PageNavigation__errors {
  font-size: 0.8em;
  font-style: italic;
  width: 40%;
  margin: 0 10px;
  text-align: center;
  display: inline-block;
}

.rex-forms-Pagination {
  margin: 0;

  li a.disabled {
    color: @colorTextDisabled;
    cursor: default;
    &:hover {
      background-color: white;
    }
  }
}

.rex-forms-ProgressBar {
  .progress();
  text-align: center;
  font-size: @font-size-small;
  line-height: @line-height-computed;

  .rex-forms-ProgressBar__label {
    position: absolute;
    right: 0;
    left: 0;
  }

  .rex-forms-ProgressBar__bar {
    .progress-bar();
  }
}

.rex-forms-NavigationButton {
  .btn();
  .btn-default();
}

.rex-forms-FormContent {
  display: flex;
  align-items: center;

  .rex-forms-FormEntry {
    flex-grow: 1;
  }

  .rex-forms-CalculationResults {
    position: fixed;
    top: 5px;
    right: 5px;
    padding: 1em 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-left: 20px;
    text-align: center;
    background-color: white;
    max-width: 25%;

    [dir='rtl'] & {
      right: auto !important;
      left: 5px;
    }

    h3 {
      margin-top: 0;
    }

    .rex-forms-CalculationResults__results {
      overflow-x: auto;

      table {
          text-align: initial;
          margin: 0 auto;

          .calcname {
              font-weight: bold;
              padding-right: 5px;
              text-align: right;

              &::after {
                  content: ':';
              }
          }

          .calcvalue {
              padding-left: 5px;
          }
      }
    }

    .rex-forms-CalculationResults__close {
      .btn();
      .btn-default();
      margin-top: 1em;
    }
  }
}


/**
 * Elements styling
 */

.rex-forms-Element {
  padding: @paddingLarge;
  border-top: 1px solid @colorBgHover;
}

.rex-forms-Element:last-child {
  border-bottom: 1px solid @colorBgHover;
}

.rex-forms-Element__disabled {
  cursor: not-allowed;
  opacity: 0.7;
}

.rex-forms-Divider:last-child {
  border-bottom: none;
}

.rex-forms-Divider + .rex-forms-Element,
.rex-forms-Divider + .rex-forms-EditableQuestionWrapper .rex-forms-Element,
.rex-forms-Divider {
  border-top: none;
}

.rex-forms-Divider {
  padding: 0;
  padding-bottom: 1em;
  hr {
    margin: 0;
    border-top: 1px solid #b1b1b1;
  }
}

.rex-forms-Text {
  table {
    /* Unfortunately can't use the following because jscreole doesn't create
       tables with appropriate thead/tbody/tfoot nodes. So, we'll cut&paste
       from bootstrap/less/tables.less
    .table();
    .table-bordered();
    */

    margin-bottom: @line-height-computed;
    border: 1px solid @table-border-color;

    > tr {
      > th,
      > td {
        padding: @table-cell-padding;
        line-height: @line-height-base;
        vertical-align: top;
        border: 1px solid @table-border-color;
      }

      > th {
        vertical-align: bottom;
        border-bottom: 2px solid @table-border-color;
        border-bottom-width: 2px;

      }
    }

    > tr:first-child {
      > th,
      > td {
        border-top: 0;
      }
    }
  }
}


/**
 * Widgets styling
 */

.rex-forms-required-mixin {
  &::before {
    content: '* ';
    color: red;
  }
}

.rex-forms-Widget {
}

.rex-forms-Widget--error {
  .rex-forms-Widget__label,
  .rex-forms-Widget__help,
  .rex-forms-Widget__input,
  .rex-forms-Widget__error {
    color: @colorTextError;
  }
}

.rex-forms-Widget--required .rex-forms-Widget__label {
  .rex-forms-required-mixin();
}

.rex-forms-Widget__label {
  margin-bottom: @padding / 2;
}

.rex-forms-Widget__help {
  padding: @paddingSmall 0;
  color: @colorTextMinor;
}

.rex-forms-Widget__error {
  padding: @paddingSmall 0;
}

.rex-forms-Widget__input {
  .width-small {
      width: 25%;
  }
  .width-medium {
      width: 50%;
  }
  .width-large {
      width: 100%;
  }

  .height-small {
      height: 7em;
  }
  .height-medium {
      height: 12em;
  }
  .height-large {
      height: 25em;
  }

  select {
      width: auto;
      max-width: 50%;
  }
}

.rex-forms-ItemLabel {
  display: inline-block;
  vertical-align: top;

  .rex-forms-ItemLabel__label {
    display: inline-block;
    font-weight: normal;
    cursor: pointer;
  }

  .rex-forms-ItemLabel__help {
    display: block;
    font-weight: normal;
    cursor: pointer;
    font-size: 90%;
    color: @colorTextMinor;
  }

  .rex-forms-AudioPlayer {
    display: inline-block;
    margin-bottom: 0;
    margin-right: 8px;

    .btn {
      padding: 1px 5px;
      font-size: 12px;
      line-height: 1.5;
      border-radius: 3px;
    }
  }
}

.rex-forms-Widget-explanation,
.rex-forms-Widget-annotation {
    margin-left: @questionIndent;

    [dir='rtl'] & {
        margin-right: @questionIndent;
        margin-left: 0;
    }
}

.rex-forms-inputText,
.rex-forms-inputNumber,
.rex-forms-inputDateTime {
    .form-control();
}

.rex-forms-radioGroup__option,
.rex-forms-radioGroup__clear,
.rex-forms-checkGroup__option {
  margin-left: @questionIndent;
  margin-bottom: 5px;

  [dir='rtl'] & {
    margin-right: @questionIndent;
    margin-left: 0;
  }

  input {
    margin-right: 10px;

    [dir='rtl'] & {
      margin-left: 10px;
      margin-right: 0;
    }

    cursor: pointer;
  }

  input {
    display: inline-block;
    vertical-align: top;
  }
}

.rex-forms-radioGroup__clear {
  font-style: italic;
}

.rex-forms-radioGroup__input,
.rex-forms-checkGroup__input {
  display: inline-block;
}

.rex-forms-radioGroup__hotkey,
.rex-forms-checkGroup__hotkey {
  margin-right: 8px;
  color: #999;

  [dir='rtl'] & {
    margin-right: 0;
    margin-left: 8px;
  }

  .rex-forms-ItemLabel__label {
    &::before {
      content: '[ ';
    }

    &::after {
      content: ' ]';
    }
  }
}

.rex-forms-radioGroup {
  &.rex-forms-radioGroup--horizontal {
    .rex-forms-radioGroup__container {
      display: flex;
    }

    .rex-forms-radioGroup__option {
      flex-grow: 1;
      margin-left: 0;
      margin-right: 0;

      label {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .rex-forms-radioGroup__input {
        cursor: pointer;

        input {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.rex-forms-checkGroup {
  &.rex-forms-checkGroup--horizontal {
    display: flex;

    .rex-forms-checkGroup__option {
      flex-grow: 1;
      margin-left: 0;
      margin-right: 0;

      label {
        display: flex;
        flex-direction: column;
        text-align: center;
      }

      .rex-forms-checkGroup__input {
        cursor: pointer;

        input {
          margin-left: 0;
          margin-right: 0;
        }
      }
    }
  }
}

.rex-forms-dropDown {
  .form-control();
  margin-left: @questionIndent;

  [dir='rtl'] & {
    margin-right: @questionIndent;
    margin-left: 0;
  }
}

.rex-forms-readOnlyExplanation,
.rex-forms-readOnlyAnnotation {
  padding-bottom: 10px;
}

.rex-forms-lookupText {
    .rex-forms-lookupText__suggestions {
        position: absolute;
        background-color: white;
        border: 1px solid #cccccc;
        border-radius: 4px;
        padding: 5px;
        margin-top: 1px;

        li {
            list-style: none;
            cursor: pointer;

            &:hover {
                background-color: #cccccc;
            }
        }
    }

}


/**
 * recordList
 */

.rex-forms-recordList__remove {
  .btn();
  .btn-default();
  .btn-xs();
  margin: @padding;
  float: right;
  position: relative;
  z-index: 100;

  [dir='rtl'] & {
    float: left;
  }
}
.rex-forms-recordList__add {
  .btn();
  .btn-default();
  .btn-sm ();
  margin-top: @padding;
}

.rex-forms-recordList--required .rex-forms-recordList--header .rex-forms-Widget__label {
  .rex-forms-required-mixin();
}

/**
 * matrix
 */

.rex-forms-matrix {
  display: table;
  width: 100%;

  & > div:first-child {
    display: table-caption;
  }
}

.rex-forms-matrixRow,
.rex-forms-matrixHeaderRow {
  display: table-row;

  .rex-forms-Question {
    border: none;
    margin: 0;
  }
}
.rex-forms-matrixHeaderRow__label {
  padding: @padding;

  .rex-forms-ItemLabel__label {
    font-weight: bold;
    display: table-header-group;
  }

  .rex-forms-AudioPlayer {
    display: table-footer-group;

    .rex-forms-AudioPlayerControls {
      margin-top: 0.25em;
    }
  }
}

.rex-forms-matrixRow__cell,
.rex-forms-matrixHeaderRow__cell {
  display: table-cell;
  vertical-align: top;

  .rex-forms-matrixRow__choices1 & { width: 85%; }
  .rex-forms-matrixRow__choices2 & { width: 43%; }
  .rex-forms-matrixRow__choices3 & { width: 28%; }
  .rex-forms-matrixRow__choices4 & { width: 21%; }
  .rex-forms-matrixRow__choices5 & { width: 17%; }
}

.rex-forms-matrixRow__label {
  padding: @padding;

  .rex-forms-ItemLabel__label {
    font-weight: bold;
    display: table-header-group;

    .rex-forms-matrixRow__required & {
      .rex-forms-required-mixin();
    }
  }

  .rex-forms-AudioPlayer {
    display: table-footer-group;

    .rex-forms-AudioPlayerControls {
      margin-top: 0.25em;
    }
  }
}

.rex-forms-matrixHeaderRow__cell--required .rex-forms-ItemLabel__label {
  .rex-forms-required-mixin();
}

.rex-forms-value {
  padding: 10px 0;
}

.rex-forms-value__novalue {
  font-size: 90%;
  color: #aaa;
}

.rex-forms-value__choice {
  &::after {
    content: ', ';
  }

  &:last-child::after {
    content: ''
  }
}


/**
 * FormOverview
 */

.rex-forms-FormOverview {

}

.rex-forms-FormOverview__readonly {
  .rex-forms-Element__disabled {
    opacity: 1;
    cursor: auto;
  }
}

.rex-forms-FormOverview__note {
  .well();
  margin-bottom: @paddingLarge;
}

.rex-forms-EditableQuestionWrapper {
  position: relative;
}

.rex-forms-EditableQuestionWrapper:hover {
  background-color: @colorBgHover;
}

.rex-forms-EditableQuestionWrapper__button {
  .btn();
  .btn-default();
  .btn-xs();
}

.rex-forms-EditableQuestionWrapper__toolbar {
  position: absolute;
  top: 10px;
  right: 10px;

  [dir='rtl'] & {
    left: 10px;
    right: initial;
  }

  button {
    margin-left: 5px;

    [dir='rtl'] & {
      margin-right: 5px;
      margin-left: 0;
    }
  }
}


/**
 * Print styles
 */
@media print {
  .rex-forms-Form__toolbar,
  .rex-forms-EditableQuestionWrapper__toolbar {
    display: none;
  }
}


/**
 * Reconciler styles
 */

.rex-forms-Reconciler {
  .container-fluid();
}

.rex-forms-ReconcilerComplete {
  .btn();
  .btn-primary();
}


.rex-forms-ReconcilerHeader {
  .row();
}

.rex-forms-ReconcilerHeaderColumn {
  p {
    border: 1px solid grey;
    border-radius: 5px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
    margin-bottom: 0;
  }

  .num-choices-2 & { .make-sm-column(4); }
  .num-choices-3 & { .make-sm-column(3); }
  .num-choices-4 & { .make-sm-column(2); }
  .num-choices-5 & { .make-sm-column(2); }
}

.rex-forms-ReconcilerSection {
  margin-top: 1em;
  background-color: #fafafa;
  border-radius: 3px;

  & .rex-forms-ReconcilerSection {
    background-color: #f2f2f2;

    .rex-forms-Discrepancy__title {
      padding-left: 10px;
    }

    & .rex-forms-ReconcilerSection {
      background-color: #eaeaea;

      .rex-forms-Discrepancy__title {
        padding-left: 20px;
      }
    }
  }
}

.rex-forms-Discrepancy,
.rex-forms-RecordListDiscrepancy,
.rex-forms-RecordListRecordDiscrepancy,
.rex-forms-MatrixDiscrepancy,
.rex-forms-MatrixRowDiscrepancy {
  .row();
}
.rex-forms-Discrepancy__inner,
.rex-forms-RecordListDiscrepancy__inner,
.rex-forms-RecordListRecordDiscrepancy__inner,
.rex-forms-MatrixDiscrepancy__inner,
.rex-forms-MatrixRowDiscrepancy__inner {
  .container-fluid();
}

.rex-forms-Discrepancy__title {
  .row();

  margin-bottom: 0.5em;
  padding-top: 3px;
  padding-left: 3px;

  .title {
    font-weight: bold;
    margin-bottom: 0;
  }

  .subtitle {
    font-style: italic;
    font-size: 0.8em;
    opacity: 0.8;
    margin-left: 2ch;
    margin-bottom: 0;
  }

  &.rex-forms-Discrepancy__required {
    .title {
      .rex-forms-required-mixin();
    }
  }

  .rex-forms-Discrepancy__complete {
    .glyphicon();
    .glyphicon-ok();

    padding: 0 5px;
    color: green;
  }
}

.rex-forms-DiscrepancyValues {
  .row();
}
.rex-forms-DiscrepancyValues__choice {
  cursor: pointer;
  border-radius: 3px;

  &:hover {
    background-color: #DDF0FF;
  }

  &.rex-forms-DiscrepancyValues__choice--active {
    background-color: #B8DAF6;
  }

  &.rex-forms-DiscrepancyValues__choice--novalue {
    font-size: 90%;
    color: #aaa;
  }

  p {
    min-height: 2em;
    line-height: 2em;
    margin-bottom: 0;
  }

  &.num-choices-2 { .make-sm-column(4); }
  &.num-choices-3 { .make-sm-column(3); }
  &.num-choices-4 { .make-sm-column(2); }
  &.num-choices-5 { .make-sm-column(2); }

  .rex-forms-DiscrepancyValues__choice--value {
    &::after {
      content: ', ';
    }

    &:last-child::after {
      content: ''
    }
  }
}
.rex-forms-DiscrepancyValues__input {
  &.num-choices-2 { .make-sm-column(4); }
  &.num-choices-3 { .make-sm-column(3); }
  &.num-choices-4 { .make-sm-column(4); }
  &.num-choices-5 { .make-sm-column(2); }
}
.rex-forms-DiscrepancyValues__override {
  border-radius: 3px;
  min-height: 2em;
  line-height: 2em;
  margin-bottom: 3px;

  &:hover {
    background-color: #DDF0FF;
  }

  &.rex-forms-DiscrepancyValues__override--active {
    background-color: #B8DAF6;
  }

  & > label {
    cursor: pointer;
    margin-bottom: 0;
  }

  input {
    margin-right: 5px;

    [dir='rtl'] & {
      margin-left: 5px;
      margin-right: 0;
    }
  }

  span {
    font-weight: normal;
  }
}

.rex-forms-ReconcilerControls {
  text-align: center;
  margin-top: 2em;
}


.rex-forms-AudioPlayer {
  margin-bottom: 0.5em;

  .btn {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
  }

  .rex-forms-AudioPlayerControls {
    .icon-play {
      .glyphicon();
      .glyphicon-play();
    }

    .icon-pause {
      .glyphicon();
      .glyphicon-pause();
    }

    .icon-restart {
      .glyphicon();
      .glyphicon-backward();
    }
  }
}

