{% extends "rex.ui:/templates/one_column_layout.html" %}

{% import "rex.application:/templates/nav_macros.html" as nav with context %}
{% import "rex.application:/templates/application_macros.html" as app with context %}
{% import "rex.vendor:/template/macro.html" as vendor with context %}

{% block page_header %}
  <title>{% block title %}{{ title or 'RexDB' }}{% endblock %} - {% block brand_title %}{{ brand_title }}{% endblock %}</title>
  {{ vendor.jquery() }}
  {{ vendor.bootstrap() }}
  <link href="{{ MOUNT['rex.ui'] }}/css/template.css" rel="stylesheet">
{% endblock %}

{% block extra_head %}
  <!-- rex.application css -->
  <link href="{{ 'rex.application:/css/rex.application.css'|url }}" rel="stylesheet" media="screen">
  <link rel="stylesheet" href="{{ PACKAGE_URL }}/bundle/bundle.css">
  <script src="{{ PACKAGE_URL }}/bundle/bundle.js"></script>
  {{ app.application_css() }}
{% endblock %}

{% block navbar %}
  {{ nav.nav_bar('3.0.0') }}
{% endblock %}

{% block panels %}
  <div class="rexuipanels">
    <div id="formbuilder"></div>
  </div>
  <script type="text/javascript">
  {% block formbuilder_code %}{% endblock %}
  </script>
{% endblock %}

{#
{% block page_footer %}
    {{ app.footer() }}
{% endblock %}
#}
