{% extends "rex.formbuilder:/templates/base.html" %}

{% block formbuilder_code %}

  React.renderComponent(
    Rex.FormBuilder.Editor(
      $.extend(
        {
          home: {{ PACKAGE_URL|json }},
          type: {{ type|json }},
          uid: {{ instrument|json }},
          getURL:
            {% block geturl_code %}
              function (type, uid) {
                return {{ PACKAGE_URL|json }} + '/edit/' + type + '/' + uid + '/';
              }
            {% endblock %},
          user: {{ USER|json }},
          undoRedo: false
        },
        {{ (formbuilder_props|json) if formbuilder_props else '{}' }}
      )
    ),
    document.getElementById('formbuilder')
  );
{% endblock %}
