{% extends "rex.formbuilder:/templates/base.html" %}

{% block formbuilder_code %}

  Rex.FormBuilder.startEditor(
    $.extend(
      {
        home: {{ PACKAGE_URL|json }},
        group: {{ type|json }},
        uid: {{ instrument|json }},
        {% if localizations %}
          localizations: {{ localizations|json }},
        {% endif %}
        getURL:
          {% block geturl_code %}
            function (type, uid) {
              return {{ PACKAGE_URL|json }} + '/edit/' + type + '/' + uid + '/';
            }
          {% endblock %},
        user: {{ USER|json }},
        undoRedo: false
      },
      {{ (formbuilder_props|json) if formbuilder_props else '{}' }}
    ),
    document.getElementById('formbuilder')
  );
{% endblock %}
