
{% macro roadsbuilder_head(instrument) -%}
        <meta name="Content-Type" content="text/html; charset=utf-8" />
        <meta name="keywords" content="" />
        <meta name="description" content="" />
        <title>{%- if instrument %} {{ instrument }} - {%- endif %}ROADS Builder</title>
        <link rel="stylesheet" href="{{ PREFIX['rex.ext'] }}/jquery-ui/1.8.22/themes/black-tie/jquery-ui-1.8.22.custom.css" />
        <script type="text/javascript" src="{{ PREFIX['rex.ext'] }}/jquery/jquery-1.7.2.min.js"></script>
        <script type="text/javascript" src="{{ PREFIX['rex.ext'] }}/jquery-ui/1.8.22/jquery-ui-1.8.22.custom.min.js"></script>
        <script type="text/javascript" src="{{ PREFIX['rex.ext'] }}/json/jquery.json-2.3.min.js"></script>
        <script type="text/javascript" src="{{ PREFIX['rex.common'] }}/js/rexl/0.5.1/rexl.js"></script>
        <link rel="stylesheet" href="{{ PREFIX['rex.formbuilder'] }}/css/builder.css" />
        <link rel="stylesheet" href="{{ PREFIX['rex.formbuilder'] }}/css/conditor.css" />
        <script type="text/javascript" src="{{ PREFIX['rex.formbuilder'] }}/js/conditor.js"></script>
        <script type="text/javascript" src="{{ PREFIX['rex.formbuilder'] }}/js/builder-helpers.js"></script>
        <script type="text/javascript" src="{{ PREFIX['rex.formbuilder'] }}/js/builder-dialogs.js"></script>
        <script type="text/javascript" src="{{ PREFIX['rex.formbuilder'] }}/js/builder.js" data-prefix="{{ PREFIX['rex.formbuilder'] }}" data-forms-prefix="{{ PREFIX['rex.formbuilder'] }}"></script>
{% endmacro -%}

{% macro roadsbuilder(instrument, code, manual_edit_conditions, ext_param_types, url_save_form, url_start_test) -%}
        <script type="text/javascript">
            $(document).ready(function () {
                $.RexFormBuilder.init({
                    manualEditConditions: {%- if manual_edit_conditions %}true{%- else %}false{%- endif %},
                    extParamTypes: {%- if ext_param_types %}{{ ext_param_types }}{%- else %}null{%- endif %},
                    instrument: {{ instrument|json }},
                    code: {{ code|json }},
                    {% if url_start_test %}
                    urlStartTest: {{ url_start_test|json }},
                    {% endif %}
                    {% if url_save_form %}
                    urlSaveForm: {{ url_save_form|json }}
                    {% endif %}
                });
            });
        </script>
        <div class="rb_left_part">
            <div id="rb_instrument_name">{{ instrument|e }}</div>
            <div id="rb_instrument_title_wrap">
                <div id="rb_instrument_title_view">
                    <span id="rb_instrument_title"></span>
                    <button id="rb_instrument_title_button" class="rb_small_button">Change Title</button>
                </div>
                <input type="text" id="rb_instrument_title_input" style="display: none;" />
            </div>
            <div class="rb_tools_button_wrapper">
                <button class="rb_tools_button" onclick="$.RexFormBuilder.saveInstrument()">Save</button>
                <button class="rb_tools_button" onclick="$.RexFormBuilder.testInstrument()">Test</button>
                <button class="rb_tools_button" onclick="$.RexFormBuilder.showJSONDialog.open()">JSON</button>
            </div>
            <div class="rb_params_wrapper">
                <button id="rb_params_add" class="rb_small_button rb_right_aligned">Add Parameter</button>
                <span class="rb_small_title">Input parameters:</span>
                <div id="rb_params_list">
                </div>
            </div>
            <div class="rb_pages_list_wrapper">
                <div class="rb_pages_list_header">
                    <button class="rb_small_button rb_right_aligned" id="rb_make_group" disabled="1">Make Group</button>
                    <button class="rb_small_button rb_right_aligned" id="rb_add_new_page">Add New Page</button>
                    <span class="rb_small_title">Pages:</span>
                </div>
                <div class="rb_pages_scrollable">
                    <ul class="rb-page-list" id="rb_page_list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="rb_main_part">
            <div id="rb_page_editor" style="display: none;">
                <div class="rb_main_part_header">
                    <div class="rb_page_title_wrap">
                        <span id="rb_page_title">Page Title</span> <button id="rb_page_title_change">Change</button>
                    </div>
                    <input type="text" id="rb_page_title_input" style="display: none;" />
                    <div style="margin: 10px 0px 10px 0px;">
                        <span id="rb_page_skip_if"></span> <button id="rb_page_skip_if_change" class="rb_small_button">Change</button>
                    </div>
                </div>
                <div class="rb_question_list_wrapper">
                    <div class="rb_question_list_header">
                        <span class="rb_small_title">Questions:</span>
                        <button class="rb_add_question_button" onclick="$.RexFormBuilder.addNewQuestion();">
                            Add Question
                        </button>
                    </div>
                    <ul id="rb_question_list">
                    </ul>
                </div>
            </div>
        </div>
        <div class="rb_stuff">

            <div class="rb_progress_dialog">
                <p class="rb_progress_text">Constructing in progress</p>
                <p><img src="{{ PREFIX['rex.forms'] }}/img/ajax-loader.gif" /></p>
            </div>

            <li id="tpl_question" class="rb_question">
                <div>
                    <div class="rb_question_actions">
                        <a href="javascript:void(0);" onclick="$.RexFormBuilder.removeQuestion(this);"><img src="{{ PREFIX['rex.forms'] }}/img/close_small.png"></a>
                    </div>
                    <div class="q_caption">
                        <div class="rb-question-title">
                            Question Title
                        </div>
                        <div class="rb-question-name">
                            question_name
                        </div>
                        <div class="rb-question-descr">
                            question_descr
                        </div>
                    </div>
                    <div class="q_editor">
                    </div>
                </div>
            </li>

            <div id="tpl_question_editor" class="rb_question_editor">
                <table class="rb_question_table" cellspacing="0">
                    <tr>
                        <td class="rb_question_table_left" valign="top">
                            <div class="rb_question_table_left_inner">
                                <h3>Title</h3>
                                <textarea type="text" name="question-title" class="rb_question_input" /></textarea>
                                <table class="question-selects">
                                    <h3 class="question-type-header rb_with_top_margin">Question type</h3>
                                    <select name="question-type"></select>
                                </table>
                                <!--
                                <div class="constraints">
                                    <h3 class="rb_with_top_margin">Allowed Range</h3>
                                    From: <input type="text" name="constraint-from" class="rb_constraint_input">
                                    To: <input type="text" name="constraint-to" class="rb_constraint_input">
                                </div>
                                -->
                                <div class="rb_choices" style="display: none;">
                                    <div class="rb_choices_header" style="display:none;">
                                        <h3>Choice</h3>
                                        <div class="rb_choices_item_right">
                                            <h3>Identifier</h3>
                                        </div>
                                    </div>
                                    <div class="choices-list">
                                        <span class="choice-hint">Please add the first choice <!-- or select pre-defined choices: --></span>
                                        <ul class="choices-list-items">
                                        </ul>
                                    </div>
                                    <div class="rb-predefined-choices-div">
                                        <select name="predefined-choice-list">
                                            <option value=""> - Select pre-defined choices - </option>
                                        </select>
                                    </div>
                                    <div class="btn-add-div">
                                        <button class="btn-add" onclick="$.RexFormBuilder.addChoice(this);return false;">Add choice</button>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td class="rb_question_table_right" valign="top">
                            <div class="rb_question_table_right_div">
                                <h3 class="unique-name">Unique name</h3>
                                <input type="text" name="question-name" class="rb_question_input_short slave" maxlength="40" /><br>
                                <input type="checkbox" name="question-required" /> Required
                                <h3>Constraints</h3>
                                <a class="rb_constraint_descr" href="javascript:void(0);" onclick="$.RexFormBuilder.changeConstraints(this);">No constraints</a>
                                <button onclick="$.RexFormBuilder.changeConstraints(this);">Change</button>
                                <div class="rb-disable-logic">
                                <h3>Disable conditions</h3>
                                <a class="rb_disable_logic_descr" href="javascript:void(0);" onclick="$.RexFormBuilder.changeDisableLogic(this);">Never disabled</a> 
                                <button onclick="$.RexFormBuilder.changeDisableLogic(this);">Change</button>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="rb_question_table_long_row rb_question_table_subquestions" style="display: none;">
                            <div class="rb_subquestions_wrap">
                                <div class="rb_subquestion_actions">
                                    <button class="rb_add_question_to_group rb_small_button">Add Question to Group</button>
                                </div>
                                <h3>Repeating Group of Questions:</h3>
                                <ul class="rb_subquestion_list">
                                </ul>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td colspan="2" class="rb_question_table_long_row rb_question_table_bottom">
                            <!-- <button class="btn-save" onclick="$.RexFormBuilder.stopEvent(arguments[0]);$.RexFormBuilder.saveQuestion(this);">Close</button> -->
                            <button onclick="$.RexFormBuilder.stopEvent(arguments[0]);$.RexFormBuilder.cancelQuestionEdit(this);">Cancel</button>
                        </td>
                    </tr>
                </table>
            </div>

            <li id="tpl_choices_item" class="rb_choices_item">
                <div>
                    <div class="restrict-drag">
                        <input type="text" name="answer-title" class="rb_choice_input_title" />
                    </div>
                    <div class="rb_choices_item_right">
                        <div class="rb_choices_item_actions">
                            <a href="javascript:void(0);" onclick="$.RexFormBuilder.removeChoicesItem(this);"><img src="{{ PREFIX['rex.forms'] }}/img/close_small.png"></a>
                        </div>
                        <div class="restrict-drag">
                            <input type="text" name="answer-code" class="rb_choice_input rb_with_margin slave" maxlength="20" />
                            <!--
                            <div>
                                Score: <input type="text" name="answer-score" class="rb_choice_input_small" />
                            </div>
                            -->
                        </div>
                        <div class="btn-remove-container">
                            <a href="javascript:void(0)" onclick="removeChoice(this);" class="remove-choice"><span class="btn-remove"></span></a>
                        </div>
                    </div>
                </div>
            </li>

            <div id="tpl_parameter" class="rb_parameter">
                <span class="rb-param-name"></span> <span class="rb-param-type-wrap">(<span class="rb-param-type"></span>)</span>
                <div class="rb_param_actions">
                    <a href="javascript:void(0)" class="rb-param-edit">edit</a>&nbsp;&nbsp;
                    <a href="javascript:void(0)" class="rb-param-remove"><img src="{{ PREFIX['rex.forms'] }}/img/close_small.png"></a>
                </div>
            </div>

            <li id="tpl_page" class="rb_page">
                <div>
                    <div>
                        <div class="rb_page_actions">
                            <a href="javascript:void(0);" class="rb-page-remove"><img src="{{ PREFIX['rex.forms'] }}/img/close_small.png"></a>
                        </div>
                        <div class="rb-page-title"></div>
                    </div>
                    <div style="overflow: hidden; position: relative;">
                        <div class="step_list">
                        </div>
                        <button style="float: right;" class="rb_small_button rb-page-add-next">Add next page</button>
                    </div>
                </div>
            </li>

            <li id="tpl_page_group" class="rb_page_group">
                <div class="rb_page_group_header">
                    <a href="javascript:void(0);" class="rb-group-title"></a>
                    <a class="rb-hidable-link rb-group-title-change" href="javascript:void(0);">change</a>
                    <div>
                        <a class="rb-group-skip-if" href="javascript:void(0);"></a>
                        <a class="rb-hidable-link rb-group-skip-if-change" href="javascript:void(0);">change</a>
                    </div>
                    <div class="rb_page_group_actions">
                        <a href="javascript:void(0);" class="rb-group-remove"><img src="{{ PREFIX['rex.forms'] }}/img/close_small.png"></a>
                    </div>
                </div>
                <ul class="rb-page-list">
                </ul>
            </li>

        </div>
{% endmacro -%}
