<!DOCTYPE html>
<html>
  <head>
    <title>{% block title %}{% endblock %}</title>
    <script src="https://code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap-theme.min.css">
  </head>
  <body>
    <div class="navbar navbar-inverse">
      <div class="container">
        <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="{{ MOUNT['rex.urlmap_demo'] }}/">REX.URLMAP_DEMO</a></li>
          {%- for entry in navigation %}
            <li><a href="{{ MOUNT['rex.urlmap_demo'] }}{{ entry.path }}">{{ entry.title|e }}</a></li>
          {%- endfor %}
        </ul>
        <ul class="nav navbar-nav navbar-right">
          {% if not USER -%}
            <li><a href="{{ MOUNT['rex.urlmap_demo'] }}/login">Login</a></li>
          {%- else -%}
            <li><a href="{{ MOUNT['rex.urlmap_demo'] }}/logout">Logout</a></li>
          {%- endif %}
        </ul>
      </div>
    </div>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
