.rb-box-absolute,
.rb-box-absolute p,
.rb-box-absolute div,
.rb-box-absolute td,
.rb-box-absolute input {
    font-family:verdana;
    font-size:14px;
}

.rb-box-absolute {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    background-color: #f0f0f0;
    overflow: auto;
}

.rb-instrument-tabs {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
    background-color: #c0c0c0;
    padding-top: 10px;
    padding-left: 20px;
}

.rb-instrument-tab {
    display: inline-block;
    font-size: 14px;
    padding: 5px 10px 5px 10px;
    color: white;
}

.rb-instrument-tab.active {
    background-color: #f0f0f0;
}

.rb-instrument-tab a {
    color: white;
    font-weight: bold;
    text-decoration: none;
}

.rb-instrument-tab a:hover {
    color: #f0f0f0;
}

.rb-instrument-tab.active a {
    color: black
}

.rb-instrument-tab.active a:hover {
    color: #505050;
}

.rb-instrument-tab-bodies {
    position: absolute;
    top: 50px;
    bottom: 10px;
    left: 10px;
    right: 10px;
}

.rb-instrument-tab-body {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    display: none;
}

.rb-instrument-tab-body.active {
    display: block;
}

#rb_new_instrument {
    position: absolute;
    top: 5px;
    right: 5px;
}

.rb-instrument-list {
    margin: 0px;
    padding: 0px;
    list-style-type: none;
}

.rb-group-item {
    overflow: hidden;
    clear: both;
}

.rb-group-item .rb-instrument-name {
    width: 100px;
    float: left;
}

.rb-group-item .rb-instrument-title {
    float: left;
}

.rb-group-item .rb-instrument-actions {
    float: right;
    margin-left: 20px;
}

.rb-group-item .rb-instrument-modified {
    float: right;
}

.rb-group-item {
    border-bottom: 1px solid #c0c0c0;
    padding: 5px;
}

.rb-group-item:hover {
    background-color: #fafafa;
}

.rb-group-item:last-child {
    border-bottom: 0px;
}
