<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="{{ REQUEST.script_name }}/bundle/bundle.css">
</head>
<body>
  <div id="__main__"></div>
  <script>
    var __MOUNT_PREFIX__ = "{{ REQUEST.script_name }}";
  </script>
  <script src="{{ REQUEST.script_name }}/bundle/bundle.js"></script>
  <script>
    var __REX_WIDGET__ = {{ desc }};
    if (window.Rex === undefined || window.Rex.Widget === undefined) {
      throw new Error('include rex-widget bower package in your application');
    }
    Rex.Widget.renderSpec(
      __REX_WIDGET__,
      document.getElementById('__main__')
    );
  </script>
</body>
