@import "~bootstrap/less/bootstrap";
@import "~codemirror/lib/codemirror.css";

/**
 * Variables
 */

// this is tweak for bootstrap to correctly resolve paths to glyphicon
@icon-font-path:            "~bootstrap/fonts/";
@images-path:               "~/images/";

@border-radius-base:        2px;
@border-radius-large:       2px;
@border-radius-small:       2px;

@padding:                   0.5em;
@headHeight:                47px;
@sideBarWidth:              400px;
@fieldsHeadHeight:          3.5em;
@channelsHeadColor:         #e0e0e0;
@channelsHeadHeight:        43px;
@channelFormHeadHeight:     45px;
@handleImage:               url("images/dragarea.png");
@viewSourcePadding:         2*@padding;

@color-danger:              rgb(255, 237, 237);
@color-success:             #E2FAE2;
@color-hover-highlight:     #e6e6e6;
@color-passive-highlight:   #fafafa;

/**
 * Bootstrap overrides
 */

label {
  .rfb-control-text;
  padding-top: @padding;
}
textarea {
  min-height: 70px;
  resize: vertical;
}

.wrong {
  background: @color-danger;
  border-color: darken(@color-danger, 30%);
}

.wrong:focus {
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
}

textarea,
select,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"] {
  .form-control();
  .input-sm();
}

/**
 * Utilities
 */

.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}

@-webkit-keyframes spin2 {

  from {
    -webkit-transform: rotate(0deg);
  }

  to {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {

  from {
    transform: scale(1) rotate(0deg);
  }

  to {
    transform: scale(1) rotate(360deg);
  }
}

.rfb-empty-text {
  color: #808080;
  font-style: italic;
}

.rfb-dark-text {
  color: #b0b0b0;
}

.rfb-control-text {
  color: @gray-light;
  font-size: 95%;
  font-weight: bold;

  .glyphicon {
    font-size: 90%;
  }
}

.btn-plain {
  .btn-link;
  color: #cccccc;
  &:hover {
    text-decoration: none;
  }
}

.btn-quiet {
  border: none;
  background: transparent;
  &:hover {
    .btn-default;
  }
}

.btn-xxs {
  .btn-xs;
  font-size: 75%;
}

.area(@top:auto, @bottom:auto, @left:auto, @right:auto,
      @width:auto, @height:auto,
      @bgColor:transparent, @areaPadding:@padding, @position:absolute) {
  position: @position;
  top: @top;
  bottom: @bottom;
  left: @left;
  right: @right;
  width: @width;
  height: @height;
  background-color: @bgColor;
  padding: @areaPadding;
}

.rfb-centered {
  position: absolute;
  left: 50%;
  top: 50%;
  > div {
    position: relative;
    left: -50%;
    top: -50%;
  }
}

/**
 * <Editor />
 */

.rfb-Editor {

}

.rfb-Editor__return {
  margin-right: 5px;
}

.rfb-Editor__tools {
  .area(0, 0, 0, 0);
}

.rfb-Editor__title {
  .pull-left;
  .h3;
  margin-top: 5px;
  .rfb-dark-text {
    margin-left: 5px;
  }
}

.rfb-Editor__headActions {
  .pull-right;
  text-align: right;
  display: inline-block;
}

.rfb-Editor__preview,
.rfb-Editor__publish,
.rfb-Editor__save {
  margin-left: @padding;
}

.rfb-Editor__head {
  .area(0px, auto, 0px, 0px, auto, @headHeight);
  /* z-index: 1; */
}

.rfb-Editor__body {
  .area(@headHeight, 0px, 0px, 0px, @areaPadding:0px);
}

.rfb-Editor--loading .rfb-Editor__workarea {
  display: none;
}

.rfb-Editor__instrument {
  .area(0px, 0px, 0px, @width:50%);
}

.rfb-Editor__forms {
  .area(0px, 0px, auto, 0px, @width:50%);
}

.rfb-Editor__expandForms {
  .pull-right;
  padding: 20px 0px 20px 0px;
}

.rfb-Editor__expandInstrument {
  .pull-left;
  padding: 20px 0px 20px 0px;
}

.rfb-Editor__formControls {
  display: inline-block;
  .btn {
    .btn-xs;
    position: absolute;
    top: 0px;
    right: 0px;
    overflow: hidden;
  }
}

/**
 * <Section />
 */

.rfb-Section {
  .area(@padding, @padding, @padding, @padding);
}

.rfb-Section__content {
  .area(30px, 0px, 0px, 0px);
}

/**
 * <YAMLEditor />
 */

.rfb-YAMLEditor {
  .area(0px, 0px, 0px, 0px, @bgColor:white);
  textarea {
    .area(0px, 0px, 0px, 0px, @width:100%, @height:100%, @bgColor:white);
    font-family: monospace;
  }
  .CodeMirror {
    height: 100%;
  }
}

.rfb-YAMLEditor--hidden {
  display: none;
}

.rfb-YAMLEditor--readOnly {
  .CodeMirror {
    background-color: #ddd;
  }
}

/**
 * <ChannelTabs />
 */

.rfb-ChannelTabs {
  display: inline-block;
  margin-left: 5px;
}

.rfb-ChannelTabs__tab {
  padding: @padding;
  cursor: pointer;
  &.rfb-active {
    text-decoration: none;
    background-color: #a0a0a0;
    color: white;
  }
}

.rfb-instrument-version {
  > * {
    min-height: 30px;
    line-height: 30px;
  }

  > *:last-child {
    text-align: right;
  }

  &:hover {
    background-color: #fafafa;
  }

  margin-bottom: @padding;
  padding: @padding;
}

.rfb-tab-content {
  margin-left: 0px;
  padding-left: 0px;
  list-style-type: none;
  > li {
    display: none;
    padding: @padding;
    min-height: 30px;
    position: relative;
  }
  > li.active {
    display: block;
  }
}

.rfb-InfoMessage {
  position: absolute;
  left: 50%;
  top: 10px;
  > div {
    position: relative;
    left: -50%;

    .rfb-InfoMessage-text {
      padding: @padding 2*@padding;
      border-radius: 4px;

      &.rfb-InfoMessage-info {
        background-color: #d9edf7;
      }

      &.rfb-InfoMessage-warning {
        background-color: #fcf8e3;
      }

      &.rfb-InfoMessage-error {
        background-color: #f2dede;
      }
    }
  }
}

.rfb-new-instrument {
  .well();
  padding: @padding;
  .rf-Message {
    display: none;
  }
  > * {
    display: inline-block;
  }
  .rf-Field {
    display: inline-block;
    > .rf-Label, > input {
      width: auto;
      display: inline-block;
      margin-right: @padding;
    }
  }
}

/**
 * <InstrumentList />
 */
.rfb-InstrumentList {
  background-color: white;
}

.rfb-InstrumentList__list {
  .area(0px, 0px, 0px, 0px);
  h1, h2 {
    margin-top: 0px;
  }
}

.rfb-InstrumentList__items {
  .container-fluid();

  .rfb-header {
    font-weight: bold;
  }
}

/**
 * <Instrument />
 */

.rfb-Instrument {
}

.rfb-Instrument__title {
  padding: 0px;
}

.rfb-Instrument__record.rfb-RepeatingFieldset {
  .area(80px, 0px, 0px, 0px);
  overflow: hidden;

  > .rfb-SortableRepeatingFieldset
  > .rfb-SortableRepeatingFieldset__fieldset
  > .rf-RepeatingFieldset__items {
    .area(30px, 0px, 0px, 0px);
    padding: 0px 5px;
    overflow-x: hidden;
    overflow-y: auto;
  }
}

/**
 * <LoadingScreen />
 */

.rfb-LoadingScreen {
  .area(0,0,0,0);
  z-index: 1000;
}
.rfb-LoadingScreen__text {
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
}
.rfb-LoadingScreen__loading {
  font-size: 120%;
  .glyphicon {
    margin-right: 5px;
  }
}
.rfb-LoadingScreen__error {
  .text-danger();
}
.rfb-LoadingScreen--dark {
  background-color: rgba(0,0,0,0.5);
  color: white;
}

/**
 * <Messages />
 */

.rfb-Messages {
  position: absolute;
  z-index: 2;
  top: 0px;
  left: 0px;
  overflow: visible;
}

/**
 * <Message />
 */

.rfb-Message {
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  border: 1px solid black;
  float: left;
  clear: left;
  margin-bottom: 1px;
  position: relative;
  padding: 5px 20px 5px 7px;
}

.rfb-Message--error {
  background-color: #f2dede;
}

.rfb-Message--warning {
  background-color: #fcf8e3;
}

.rfb-Message--info {
  background-color: #d9edf7;
}

.rfb-Message__close {
  position: absolute;
  top: 4px;
  right: @padding;
  .btn;
  .btn-plain;
  padding: 0;
}

.CodeMirror {
  border: 1px solid black;
}
