{% macro js(bundle) -%}
  {% if bundle.js %}
  <script>
    var __rex_root__ = "{{ PACKAGE_URL }}";
    var __rex_bundle_root__ = "{{ bundle.root|url }}";
  </script>
  <script src="{{ bundle.js|url }}"></script>
  {% endif %}
{%- endmacro %}

{% macro css(bundle) -%}
  {% if bundle.css %}
  <link
    rel="stylesheet"
    href="{{ bundle.css|url }}">
  {% endif %}
{%- endmacro %}

{% macro meta() -%}
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
{%- endmacro %}

{% macro entry() -%}
  <div id="rex-query-root" style="height: 100%"></div>
{%- endmacro %}

<!DOCTYPE html>
<html lang="en" style="height: 100%">
<head>
  {{ meta() }}
  {{ css(bundle) }}
</head>
<body style="height: 100%; margin: 0; padding: 0">
  {{ entry() }}
  {{ js(bundle) }}
</body>
</html>

